<script type="text/javascript">
    RED.nodes.registerType('barcode-scanner',{
        category: 'input',
        color: '#ffaaaa',
        defaults: {
            name: { value: "" },
            topic: { value: 'barcode' },
            vid: { value: 0x1234, required: true, validate: RED.validators.number() },
            pid: { value: 0x4321, required: true, validate: RED.validators.number() }
        },
        inputs: 0,
        outputs: 1,
        icon: "usb.png",
        paletteLabel: "Barcode Scanner",
        label: function() {
            return this.name||"usb scanner";
        }
    });
</script>

<script type="text/x-red" data-template-name="barcode-scanner">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="barcode">
    </div>
    <div class="form-row">
        <label for="node-input-vid"><i class="icon-tag"></i> VendorID</label>
        <input type="text" id="node-input-vid" placeholder="0x1234">
    </div>
    <div class="form-row">
        <label for="node-input-pid"><i class="icon-tag"></i> ProductID</label>
        <input type="text" id="node-input-pid" placeholder="0x4321">
    </div>
</script>

<script type="text/x-red" data-help-name="barcode-scanner">
    <p>A simple node that captures input from a USB barcode scanner.</p>
    <p>The node will connect to the USB barcode scanner identified by the <i>VendorID</i> and <i>ProductID</i> in property settings.</p>
    <p></p>
</script>